<section id="members">
  <!-- Container for heading and images -->
  <div class="max-w-6xl px-5 mx-auto mt-32 text-center">
    <!-- Heading -->
    <h2 class="text-4xl font-bold text-center">Meet our team members!</h2>
    <!-- Each image container -->
    <div class="flex flex-col mt-24 md:flex-row md:space-x-6">
      <!-- Image 1 -->
      <div
        class="flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:w-1/3"
      >
        <img src="" class="w-16 -mt-14" alt="img 1" />
        <h5 class="text-lg font-bold">Ahmed Esmail</h5>
        <p class="text-sm text-darkGrayishBlue">
          Welcome to our innovative platform, where possibilities unfold and
          experiences thrive! At Your Company Name
        </p>
      </div>
      <!-- 2 and 3 are hidden on small devices -->
      <!-- Image 2 -->
      <div
        class="hidden md:flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:w-1/3"
      >
        <img src="" class="w-16 -mt-14" alt="img 1" />
        <h5 class="text-lg font-bold">Ahmed Esmail 2</h5>
        <p class="text-sm text-darkGrayishBlue">
          Welcome to our innovative platform, where possibilities unfold and
          experiences thrive! At Your Company Name 2
        </p>
      </div>

      <!-- Image 3 -->
      <div
        class="hidden md:flex flex-col items-center p-6 space-y-6 rounded-lg bg-veryLightGray md:w-1/3"
      >
        <img src="" class="w-16 -mt-14" alt="img 1" />
        <h5 class="text-lg font-bold">Ahmed Esmail 3</h5>
        <p class="text-sm text-darkGrayishBlue">
          Welcome to our innovative platform, where possibilities unfold and
          experiences thrive! At Your Company Name 3
        </p>
      </div>
    </div>
    <!-- Button -->
    <div class="my-16">
      <a
        href=""
        class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight"
        >Get Started</a
      >
    </div>
  </div>
</section>
